<!-- Navigation Bar-->
<header id="topnav">
    <top-bar></top-bar>
    <menu-navegation></menu-navegation>
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
    <div class="container">
        <div ng-show="mensagem.length" class="alert alert-info">
            {{mensagem}}
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Pesquisar Usuários</h4>
            </div>
        </div>

        <div class="card-box">
            <div class="row">
                <div class="col-sm-12">
                    <form novalidate name="formulario" class="row" ng-submit="pesquisar()">
                        <fieldset class="form-group">
                            <div class="col-md-12">
                                <h4 class="header-title m-t-0 m-b-30">Filtros</h4>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input name="nome" type="text" class="form-control form-control-lg m-b-20"
                                               ng-model="filtros.nome"
                                               ng-maxlength="40">
                                    </div>
                                    <div class="form-group">
                                        <label>CPF</label>
                                        <input name="cpf" type="text" class="form-control form-control-lg m-b-20"
                                               ng-model="filtros.cpf"
                                               ui-mask="999.999.999-99">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Empresa</label>
                                        <input name="empresa" type="text" class="form-control form-control-lg m-b-20"
                                               ng-model="filtros.empresa"
                                               ng-maxlength="40">
                                    </div>
                                    <div class="form-group">
                                        <label>CNPJ</label>
                                        <input name="nome" type="text" class="form-control form-control-lg m-b-20"
                                               ng-model="filtros.cnpj"
                                               ui-mask="99.999.999/9999-99">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="m-t-15">
                                    <button type="submit" class="btn btn-primary">
                                        Pesquisar
                                    </button>
                                    <atualizar ng-click="atualizando()"></atualizar>
                                    <span class="pull-right">
                                        <a href="/" class="btn btn-info">Voltar</a>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <span class="input-group-btn">
                    <div class="btn-group pull-lg-right m-t-15">
                        <a href="/usuarios/new" class="btn btn-primary">Cadastrar</a>
                    </div>
                    <h4 class="page-title">Usuários</h4>
                </span>
            </div>
        </div>

        <div class="card-box">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-bordered table-hover table-striped" show-filter="true">
                            <tr ng-repeat="usuario in $data">
                                <td data-title="'Nome'" filter="{'dados.nome': 'text'}">
                                    {{usuario.dados.nome}}
                                </td>
                                <td data-title="'Telefone'" filter="{'dados.telefone': 'text'}">
                                    {{usuario.dados.telefone | telefone}}
                                </td>
                                <td data-title="'E-mail'" filter="{'dados.email': 'text'}">
                                    {{usuario.dados.email}}
                                </td>
                                <td data-title="'Empresa'" filter="{'empresa.nome': 'text'}">
                                    {{usuario.empresa.nome}}
                                </td>
                                <td>
                                    <button-action edit="/usuarios/edit/{{usuario._id}}" view="/usuarios/view/{{usuario._id}}" remove="remover(usuario)"></button-action>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer text-right">
            <footer-bar></footer-bar>
        </footer>
        <!-- End Footer -->
    </div>
</div> <!-- End wrapper -->
