<!-- Navigation Bar-->
<header id="topnav">
    <top-bar></top-bar>
    <menu-navegation></menu-navegation>
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
    <div class="container">
        <div class="card-box">
            <div ng-show="mensagem.length" class="alert alert-info">
                {{mensagem}}
            </div>
            <form novalidate name="formulario" class="row" ng-submit="submeter()">
                <fieldset class="form-group">
                    <div class="col-md-12">
                        <h4 class="header-title m-t-0 m-b-30">Dados Pessoais</h4>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input name="nome" type="text" class="form-control form-control-lg m-b-20"
                                       ng-model="usuario.dados.nome" required
                                       ng-maxlength="40">
                                <span ng-show="formulario.$submitted && formulario.nome.$error.required" class="form-control alert-danger">
                                    Nome é obrigatório
                                </span>
                                <span ng-show="formulario.$submitted && formulario.nome.$error.maxlength" class="form-control alert-danger">
                                    No máximo 40 caracteres!
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <input name="telefone" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.dados.telefone" ui-mask="(99) 9999-9999">
                            </div>
                            <div class="form-group">
                                <label>Endereço</label>
                                <input name="endereco" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.dados.endereco">
                            </div>
                            <div class="form-group">
                                <label>UF</label>
                                <select name="uf" class="form-control form-control-lg m-b-20" required
                                        ng-controller="EstadosController"
                                        ng-model="usuario.dados.uf"
                                        ng-options="uf._id as uf.nome for uf in estados">
                                    <option value="">Escolha um Estado</option>
                                </select>
                                <span ng-show="formulario.$submitted && formulario.uf.$error.required" class="form-control alert-danger">
                                    Estado é obrigatório
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Data de Nascimento</label>
                                <input name="nascimento" type="date" class="form-control form-control-lg m-b-20" ng-model="usuario.dados.nascimento" required>
                                <span ng-show="formulario.$submitted && formulario.nascimento.$error.required" class="form-control alert-danger">
                                    Data de Nascimento é obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>CPF</label>
                                <input name="cpf" type="text" class="form-control form-control-lg m-b-20"
                                       ng-model="usuario.dados.cpf" required
                                       ui-mask="999.999.999-99"
                                       cpf-valido >
                                <span ng-show="formulario.$submitted && formulario.cpf.$error.required"
                                      class="form-control alert-danger">
                                    CPF é obrigatório
                                </span>
                                <span ng-show="formulario.$submitted && formulario.cpf.$error.cpfValido"
                                      class="form-control alert-danger">
                                    CPF inválido, utilize um CPF válido!
                                </span>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input name="email" type="email"  class="form-control form-control-lg m-b-20"
                                       ng-model="usuario.dados.email" required
                                       ng-maxlength="30">
                                <span ng-show="formulario.$submitted && formulario.email.$error.required" class="form-control alert-danger">
                                    E-mail é obrigatório
                                </span>
                                <span ng-show="formulario.$submitted && formulario.email.$error.maxlength" class="form-control alert-danger">
                                    No máximo 30 caracteres!
                                </span>
                                <span ng-show="formulario.$submitted && formulario.email.$error.email" class="form-control alert-danger">
                                    E-mail inválido
                                </span>
                            </div>
                            <div class="form-group">
                                <label>CEP</label>
                                <input name="cep" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.dados.cep" ui-mask="99999-999">
                            </div>
                            <div class="form-group">
                                <label>Sexo</label>
                                <div class="radio">
                                    <input type="radio" name="sexo" id="radio1" ng-model="usuario.dados.sexo" ng-required="!sexo" value="M" checked="">
                                    <label for="radio1">
                                        Masculino
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="sexo" id="radio2" ng-model="usuario.dados.sexo" ng-required="!sexo" value="F">
                                    <label for="radio2">
                                        Feminino
                                    </label>
                                </div>
                                <span ng-show="formulario.$submitted && formulario.sexo.$error.required"
                                      class="form-control alert-danger">
                                    Sexo é obrigatório
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Grupo</label>
                                <select name="grupo" class="form-control form-control-lg m-b-20" required
                                        ng-controller="GruposController"
                                        ng-model="usuario.grupo._id"
                                        ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
                                    <option value="">Escolha um grupo</option>
                                </select>
                                <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
                                    Grupo obrigatório
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="header-title m-t-0 m-b-30">Dados da Empresa</h4>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>CNPJ</label>
                                <input name="cnpj" type="text" class="form-control form-control-lg m-b-20"
                                       ng-model="usuario.empresa.cnpj" required
                                       ui-mask="99.999.999/9999-99"
                                       cnpj-valido >
                                <span ng-show="formulario.$submitted && formulario.cnpj.$error.required"
                                      class="form-control alert-danger">
                                    CNPJ é obrigatório
                                </span>
                                <span ng-show="formulario.$submitted && formulario.cnpj.$error.cnpjValido"
                                      class="form-control alert-danger">
                                    CNPJ inválido, utilize um CNPJ válido!
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Endereço</label>
                                <input name="endereco_empresa" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.empresa.endereco" required>
                                <span ng-show="formulario.$submitted && formulario.endereco_empresa.$error.required"
                                      class="form-control alert-danger">
                                    Endereço é obrigatório
                                </span>
                            </div>
                            <div class="form-group">
                                <label>UF</label>
                                <select name="uf_empresa" class="form-control form-control-lg m-b-20" required
                                        ng-controller="EstadosController"
                                        ng-model="usuario.empresa.uf"
                                        ng-options="uf._id as uf.nome for uf in estados">
                                    <option value="">Escolha um Estado</option>
                                </select>
                                <span ng-show="formulario.$submitted && formulario.uf_empresa.$error.required" class="form-control alert-danger">
                                    Estado é obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome Fantasia</label>
                                <input name="nome_fantasia" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.empresa.nome" required>
                                <span ng-show="formulario.$submitted && formulario.nome_fantasia.$error.required"
                                      class="form-control alert-danger">
                                    Nome Fantasia é obrigatório
                                </span>
                            </div>
                            <div class="form-group">
                                <label>CEP</label>
                                <input name="cep_empresa" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.empresa.cep" ui-mask="99999-999" required>
                                <span ng-show="formulario.$submitted && formulario.cep_empresa.$error.required"
                                      class="form-control alert-danger">
                                    CEP é obrigatório
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <input name="telefone_empresa" type="text" class="form-control form-control-lg m-b-20" ng-model="usuario.empresa.telefone" ui-mask="(99) 9999-9999" required>
                                <span ng-show="formulario.$submitted && formulario.telefone_empresa.$error.required"
                                      class="form-control alert-danger">
                                    Telefone é obrigatório
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
                            Salvar
                        </button>
                        <a href="/usuarios" meu-focus class="btn btn-secondary">Voltar</a>
                    </div>
                </fieldset>
            </form>
        </div>

        <!-- Footer -->
        <footer class="footer text-right">
            <footer-bar></footer-bar>
        </footer>
        <!-- End Footer -->
    </div>
</div> <!-- End wrapper -->